/*========================================*/
/*----------------[Colors]----------------*/
/*========================================*/

:root{
    /* Variables raíz de Bootstrap.
    --bs-dark: #212529;
    --bs-light: #f8f9fa;
    --bs-white: #fff;*/
    --gray: #707070;
    --green: #28a745;
}

/*========================================*/
/*-----------[Classes and Styles]---------*/
/*========================================*/





